<div>
  <form action="/adminPage/balance/add" method="POST" class="container pt-4 text-center w-25">
    <input type="email" name="email" placeholder="Email" class="mb-2 form-control">
    <br>
    <input type="number" name="money" placeholder="Money To Add" class="mb-2 form-control">
    <br>
    <button class="btn btn-primary btn-lg form-control">
        Add Balance
    </button>
</form>
</div>
