<link rel="stylesheet" href="/css/adminPage.css">
<div class="container adminPage" style="height: 80vh;">
    <a href="/adminPage/sharp">
        <button class="btn btn-primary"> SharpShooter</button>
    </a>
    <a href="/adminPage/go">
        <button class="btn btn-primary"> Go-Cheat</button>
    </a>
    <a href="/adminPage/inception">
        <button class="btn btn-primary"> Inception</button>
    </a>
    <a href="/adminPage/ssg">
        <button class="btn btn-primary"> SharpShooter Global</button>
    </a>
    <a href="/adminPage/balance">
        <button class="btn btn-primary"> Add balance to reseller </button>
    </a>
    <a href="/users/transaction">
        <button class="btn btn-primary">payment Transaction </button>
    </a>
    <a href="/users/keystransaction">
        <button class="btn btn-primary">keys Transaction </button>
    </a>
</div>