<section class="recent-game-section spad set-bg" data-setbg="img/test.jpg">
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center container">
    <h1 class="display-4" style="color: red;">Notification</h1>
    <br>
    <p class="lead">Please refresh your page after purchsaing the key to get the updated Balance</p>
  </div>

  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Go Cheat</h4>
        </div>
        <div class="card-body">
          <h3 class="card-title pricing-card-title">Premium</h3>
          <ul class="list-unstyled mt-3 mb-4">
            <li>1 day &nbsp; &nbsp; &nbsp; &nbsp;  Rs 120</li>
            <li>1 week &nbsp; &nbsp; &nbsp; &nbsp;  Rs 530</li>
            <li>30 days &nbsp; &nbsp; &nbsp; &nbsp; Rs 1350</li>
          </ul>
          <a href="/shop/go-cheat">
            <button type="button" class="btn btn-lg btn-block btn-primary">Buy Now</button>
          </a>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">SharpShooter Regional</h4>
        </div>
        <div class="card-body">
          <h3 class="card-title pricing-card-title">Premium</h3>
          <ul class="list-unstyled mt-3 mb-4">
            <li>1 day &nbsp; &nbsp; &nbsp; &nbsp;  Rs150</li>
            <li>1 week &nbsp; &nbsp; &nbsp; &nbsp;  Rs 800</li>
            <li>1 Year &nbsp; &nbsp; &nbsp; &nbsp; Rs 2100</li>
          </ul>
          <a href="/shop/sharpshooter">
            <button type="button" class="btn btn-lg btn-block btn-primary">Buy Now</button>
          </a>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">SharpShooter Global</h4>
        </div>
        <div class="card-body">
          <h3 class="card-title pricing-card-title">Premium </h3>
          <ul class="list-unstyled mt-3 mb-4">
            <li>1 Day &nbsp; &nbsp; &nbsp; &nbsp;  Rs 300</li>
            <li>1 Week &nbsp; &nbsp; &nbsp; &nbsp; Rs 1120</li>
            <li>1 Month &nbsp; &nbsp; &nbsp; &nbsp;  Rs 2850</li>
          </ul>
          <a href="/shop/SharpShooterGlobal">
            <button type="button" class="btn btn-lg btn-block btn-primary">Buy Now</button>
          </a>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Inception</h4>
        </div>
        <div class="card-body">
          <h3 class="card-title pricing-card-title">Premium</h3>
          <ul class="list-unstyled mt-3 mb-4">
            <li>1 day &nbsp; &nbsp; &nbsp; &nbsp;  Rs75</li>
            <li>1 week &nbsp; &nbsp; &nbsp; &nbsp;  Rs 250</li>
            <li>1 Year &nbsp; &nbsp; &nbsp; &nbsp; Rs 500</li>
          </ul>
          <a href="/shop/inception">
            <button type="button" class="btn btn-lg btn-block btn-primary">Buy Now</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>