<body>
	
		<!-- Hero section -->
		<section class="hero-section">
			<div class="hero-slider owl-carousel">
				<div class="hs-item set-bg" data-setbg="img/slider-1.jpg">
					<div class="hs-text">
						<div class="container">
							<h2>The Best <span>Hacks </span> Out There</h2>
							<p>Virus free and safe hacks for PUBGM , CODM , FREE FIRE.</p>
							<a href="/shop" class="site-btn">Buy now</a>
						</div>
					</div>
				</div>
				<div class="hs-item set-bg" data-setbg="img/slider-2.jpg">
					<div class="hs-text">
						<div class="container">
							<h2>The Best <span>Hacks </span> Out There</h2>
							<p>Virus free and safe hacks for PUBGM , CODM , FREE FIRE.</p>
							<a href="/shop" class="site-btn">Buy now</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Hero section end -->
	
	
		<!-- Latest news section -->
		<div class="latest-news-section">
			<div class="ln-title">Latest Updates</div>
			<div class="news-ticker">
				<div class="news-ticker-contant">
					<div class="nt-item"><span class="new">RANK</span>PaRaComMondo Just reached Conqueror.</div>
					<div class="nt-item"><span class="new">RANK</span>pubgnoob Just reached Conqueror.</div>
					<div class="nt-item"><span class="strategy">SHOP</span>EliteKing Just bought 1Month hack key.</div>
					<div class="nt-item"><span class="racing">ADMIN</span>New Hacks Coming Soon Including Official Hack Of BiroCheats.</div>
				</div>
			</div>
		</div>
		<!-- Latest news section end -->
	
	
		<!-- < Feature section >

		<section class="feature-section spad">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 p-0">
						<div class="feature-item set-bg" data-setbg="https://bit.ly/2OLPex9">
							<span class="cata new">PUBGM,CODM,FF</span>
							<div class="fi-content text-white">
								<h5><a href="/shop"">Go Cheat</a></h5>
								<p>100% Antiban safe hack for rooted & non rooted devices.</p>
								<a href="#" class="fi-comment">4.6 Stars</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 p-0">
						<div class="feature-item set-bg" data-setbg="https://bit.ly/3eNFc9m">
							<span class="cata strategy">PUBGM</span>
							<div class="fi-content text-white">
								<h5><a href="/shop"">Sharpshooter</a></h5>
								<p>100% Antiban safe hack for rooted & non rooted devices.</p>
								<a href="#" class="fi-comment">4.6 Stars</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 p-0">
						<div class="feature-item set-bg" data-setbg="https://bit.ly/30AmzRb">
							<span class="cata new">PUBGM</span>
							<div class="fi-content text-white">
								<h5><a href="/shop"">Sharp Shooter Global</a></h5>
								<p>50% Antiban hack for rooted & non rooted devices.</p>
								<a href="#" class="fi-comment">2.1 Stars</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 p-0">
						<div class="feature-item set-bg" data-setbg="https://bit.ly/3eRqw92">
							<span class="cata racing">PUBGM</span>
							<div class="fi-content text-white">
								<h5><a href="/shop"">Inception</a></h5>
								<p>25% Antiban hack for rooted & non rooted devices.</p>
								<a href="#" class="fi-comment">1.5 Stars</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<Feature section end>   -->
	
	
		<!-- Recent game section  -->
		<section class="recent-game-section spad set-bg" data-setbg="img/recent-game-bg.png">
			<div class="container">
				<div class="section-title">
					<div class="cata new">new</div>
					<h2>Top Hacks</h2>
				</div>
				<div class="row">
					<a href="/shop">
					<div class="col-lg-4 col-md-6">
						<div class="recent-game-item">
							<div class="rgi-thumb set-bg" data-setbg="/img/gocheat.jpg">
								<div class="cata new">TOP1</div>
							</div>
							<div class="rgi-content">
								<h5>Go-Cheat</h5>
								<p>Best cheat to push conqueror 100% safe for main account.</p>
								<a href="#" class="comment">4.9 Stars</a>
								<div class="rgi-extra">
									<div class="rgi-star"><img src="/img/icons/star.png" alt=""></div>
									<div class="rgi-heart"><img src="/img/icons/heart.png" alt=""></div>
								</div>
							</div>
						</div>	
					</div></a>
					<a href="/shop">
					<div class="col-lg-4 col-md-6">
						<div class="recent-game-item">
							<div class="rgi-thumb set-bg" data-setbg="https://bit.ly/3eNFc9m">
								<div class="cata racing">TOP2</div>
							</div>
							<div class="rgi-content">
								<h5>Sharpshooter</h5>
								<p>Best cheat to push conqueror 100% safe for main account.</p>
								<a href="#" class="comment">4.6 Stars</a>
								<div class="rgi-extra">
									<div class="rgi-star"><img src="/img/icons/star.png" alt=""></div>
									<div class="rgi-heart"><img src="/img/icons/heart.png" alt=""></div>
								</div>
							</div>
						</div>	
					</div></a>
					<a href="/shop">
					<div class="col-lg-4 col-md-6">
						<div class="recent-game-item">
							<div class="rgi-thumb set-bg" data-setbg="https://bit.ly/30AmzRb">
								<div class="cata adventure">TOP3</div>
							</div>
							<div class="rgi-content">
								<h5>Android republic</h5>
								<p>Best hack to play in non root device for main account.</p>
								<a href="#" class="comment">2.1 Stars</a>
								<div class="rgi-extra">
									<div class="rgi-star"><img src="/img/icons/star.png" alt=""></div>
									<div class="rgi-heart"><img src="/img/icons/heart.png" alt=""></div>
								</div>
							</div>
						</div>	
					</div>
				</div>
			</div></a>
		</section>
		<!-- Recent game section end -->
	
	
		<!-- Tournaments section -->
		<section class="tournaments-section spad">
			<div class="container">
				<div class="tournament-title">Tournaments</div>
				<div class="row">
					<div class="col-md-6">
						<div class="tournament-item mb-4 mb-lg-0">
							<div class="ti-notic">Premium Tournament</div>
							<div class="ti-content">
								<div class="ti-thumb set-bg" data-setbg="https://bit.ly/39hHooq"></div>
								<div class="ti-text">
									<h4>Pubg Mobile Classic Solo</h4>
									<ul>
										<li><span>Tournament Beggins:</span> August 15, 2020</li>
										<li><span>Tounament Ends:</span> August 30, 2020</li>
										<li><span>Participants:</span> 10 teams</li>
										<li><span>Tournament Author:</span> Admin</li>
																			<li><span>Entry Fee:</span> 100INR</li>
									</ul>
									<p><span>Prizes:</span> 1st place 200INR, 2nd place: 100INR, 3rd place: 50INR</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="tournament-item">
							<div class="ti-notic">Premium Tournament</div>
							<div class="ti-content">
								<div class="ti-thumb set-bg" data-setbg="https://bit.ly/39hHooq"></div>
								<div class="ti-text">
									<h4>Pubg Mobile Classic Squad</h4>
									<ul>
										<li><span>Tournament Beggins:</span> Sep 10, 2020</li>
										<li><span>Tounament Ends:</span> Sep 25, 2020</li>
										<li><span>Participants:</span> 5 teams</li>
										<li><span>Tournament Author:</span> Admin</li>
																			<li><span>Entry Fee:</span> 500INR</li>
									</ul>
									<p><span>Prizes:</span> 1st place 800INR, 2nd place: 400INR, 3rd place: 200INR</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Tournaments section bg -->
	
	
		<!-- Review section -->
		<section class="review-section spad set-bg" data-setbg="img/review-bg.png">
			<div class="container">
				<div class="section-title">
					<div class="cata new">new</div>
					<h2>Recent Reviews</h2>
				</div>
				<div class="row">
					<div class="col-lg-3 col-md-6">
						<div class="review-item">
							<div class="review-cover set-bg" data-setbg="/img/gocheat.jpg">
								<div class="score yellow">4.9</div>
							</div>
							<div class="review-text">
								<h5>GO-CHEAT</h5>
								<p>Safe Hack.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="review-item">
							<div class="review-cover set-bg" data-setbg="/img/sharpshooter.jpeg">
								<div class="score purple">4.6</div>
							</div>
							<div class="review-text">
								<h5>SHARPSHOOTER</h5>
								<p>Safe Hack.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="review-item">
							<div class="review-cover set-bg" data-setbg="/img/sharpshooter.jpeg">
								<div class="score green">4.6</div>
							</div>
							<div class="review-text">
								<h5>SharpShooter Global</h5>
								<p>safe Hack.</p>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6">
						<div class="review-item">
							<div class="review-cover set-bg" data-setbg="https://bit.ly/3eRqw92">
								<div class="score pink">2.5</div>
							</div> -->
							<div class="review-text">
								<h5>INCEPTION</h5>
								<p>Fun Hack.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	
    </body>