<link rel="stylesheet" href="/css/orders.css">

<div class="assign text-center">
    <p><span style="font-weight:bold; font-size: 1.8rem">Insufficent Balance contact admin For Topup</span></p> 
</div>
