<link rel="stylesheet" href="/css/orders.css">


<div class="assign text-center" id="orders">
    <p style="text-transform: uppercase; font-size: 1.8rem;">key out of stock contact admin</p> 
</div>

<script src="/js/orders.js"></script>