<div class="container">
    <form action="/shop/sharpshooter/purchase" class="form-control" method="POST" style="min-height: 40vh; margin-bottom: 36vh; margin-top: 2vh;">
        <div class="form-group"> 
            <label class="control-label">Please select key validity For sharpshooter</label>
            <div class="radio">
            <label>
                <input type="radio" name="keyTime" value="1" required>
                1 Day
            </label>
            </div>
            <div class="radio">
                <label>
                <input type="radio"  name="keyTime" value="7" required>
                1 Week
                </label>
            </div>
            <div class="radio">
                <label>
                <input type="radio"  name="keyTime" value="30" required>
                1 Month
                </label>
            </div>
        </div>
        <button class="btn btn-lg btn-block btn-primary">Purchase</button>
    </form>
</div>